.banner{
  background-color: blue;
  padding:50px;
  max-width: 980px;
  margin:auto;
}
.nav{
  max-width: 980px;
  float:right;
}
a.navbar-brand{
  position: relative;
  margin: -10px 0px 50px 0px;
}
.navbar-collapse{
  margin: 25px 30px 0px 0px;
  padding-bottom: 25px;
  font-size: 18px;
}
.container{
  max-width: 980px;
}
.nashville{
  max-width: 980px;
  margin:auto;
}
.countdown{
  background-color: #cccccc;
  color: black;
  text-align: center;
  padding: 25px;
  margin-bottom: 50px;

}
.spread{
  margin: 20px;
}
.spread{
  margin-left: 50px;
  display: inline-block;
}
.button-white a{
  color:white;
}
.button1{
display: inline-block;
margin-right: 200px;
margin-left: 25px;
}
.button2{
display: inline-block;
margin-right: 200px;
}
.button3{
  display: inline-block;
}
.pastor{
  display: inline-block;
  text-align: left;
  margin-bottom: 50px;
}
.family{
  display: inline-block;
  margin-left: 15px;
  margin-top: 25px;
}
.launchdate{
  font-size: 48px;
  background-color: #cccccc;
  padding: 15px;
  text-align: center;
  color: white;
}
.beginning{
  max-width: 980px;
  text-align: center;
  margin: 0 auto;
  margin-top: 25px;
}
.input{
  max-width: 980px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.nursery{
  text-align: left;
  display:inline;
}
.nurseryimg{
  float:left;
  display: inline;
  margin-right: 25px;
  margin-top: 12px;
}
.kids{
  display:inline;
  text-align: left;
  margin-top: 25px;
  margin-bottom: 25px;
}
.kidsimg{
  float: right;
  display:inline;
  margin-top: 25px;
  margin-bottom: 44px;
  margin-left: 25px;
}
.students{
  display:inline;
  text-align:left;
  margin-top: 34px;

}
.studentsimg{
  display: inline;
  float: left;
  margin-right: 25px;
}
.givebanner{
  background-color: #cccccc;
  padding: 20px;
  margin: 25px;
  text-align: center;
  color: black;
}
.graph{
  max-width: 980px;
  margin: 0 auto;
}
.podcast{
  text-align: left;
  display: inline;
}
.graphpic{
  margin-left:240px;  
}
